# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# External repos and frontend projects
temp_repo/
frontend/
frontend_novo/

# Local documentation and notes
documentacao_cadastros.txt
markdawnCheats.txt
proposta_backend_stackedit.txt

# IDE-specific files
.idx/

# Maven build output
target/

# VS Code specific
.vscode/

# Environment variables file
.env
